.input-box {
  width: 100%;
  height: 4rem;
}

.input-box input {
  width: 100%;
  height: 100%;
  font-family: 'Noto Serif', serif;
  font-size: 1.8rem;
  line-height: 170%;
  color: #25445C;
  outline: none;
  border: none;
  background-color: inherit;
  padding-left: 3rem;
}

.input-box input::placeholder {
  font-family: 'Noto Serif', serif;
  font-size: 1.8rem;
  color: #25445C;
}