.display-faq {
  width: 100%;
  position: relative;
  height: auto;
  padding: 3rem;
  padding-bottom: 4rem;
  background: #EFF8FE;
  padding-left: 8.8rem;
}

.display-content {
  width: 52%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* background-color: #eee; */
}

.display-content .display-content-title h1 {

  text-transform: uppercase;
  font-size: 1.3rem;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  color: #9CA3A6;
  letter-spacing: .1rem;
  margin: 5rem 0;
  margin-bottom: 0rem;

}