* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 0.625rem;
}

.App{
  width: 100%;
  position: relative;
  padding: 2rem 0;
}

.App .navbar {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3rem;
}
.App .navbar .link{
  text-decoration: none;
  font-family: 'Noto sans';
  font-weight: 400;
  font-size: 1.5rem;
  border-radius: .5rem;
  padding: .3rem 1rem;
  margin: 0 1rem;
}

.App .navbar .faq-input{
  background-color: rgba(133, 144, 241, 0.397);
  color: rgb(17, 52, 207);
}

.App .navbar .faq-display {
  background-color: rgba(125, 241, 135, 0.301);
  color: rgb(19, 197, 19);
}

